<div>
    <ul nz-menu [nzMode]="'inline'" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
        <ng-template [ngxPermissionsOnly]="[adminRoleName, viewUserAdminPagePermission]">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="user">
                <span title>
                    <i nz-icon nzType="user"></i>

                    <span>{{ 'admin.user.users' | transloco }}</span>
                </span>
            </li>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="[adminRoleName, viewRoleAdminPagePermission]">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="role">
                <span title>
                    <i nz-icon nzType="icon:role"></i>

                    <span>{{ 'admin.role.roles' | transloco }}</span>
                </span>
            </li>
        </ng-template>

        <ng-template [ngxPermissionsOnly]="['ADMIN', 'viewCategoryAdminPage']">
            <li nz-submenu>
                <span title>
                    <i nz-icon nzType="appstore"></i>

                    <span>{{ 'admin.sport.sport' | transloco }}</span>
                </span>

                <ul>
                    <ng-template [ngxPermissionsOnly]="[adminRoleName, viewAssociationAdminPagePermission]">
                        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="association">
                            <span title>
                                <i nz-icon nzType="mail"></i>

                                <span>{{ 'admin.sport.associations' | transloco }}</span>
                            </span>
                        </li>
                    </ng-template>

                    <ng-template [ngxPermissionsOnly]="[adminRoleName, viewCategoryAdminPagePermission]">
                        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="category">
                            <span title>
                                <i nz-icon nzType="mail"></i>

                                <span>{{ 'admin.sport.categories' | transloco }}</span>
                            </span>
                        </li>
                    </ng-template>

                    <ng-template [ngxPermissionsOnly]="[adminRoleName, viewClubAdminPagePermission]">
                        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="club">
                            <span title>
                                <i nz-icon nzType="mail"></i>

                                <span>{{ 'admin.sport.clubs' | transloco }}</span>
                            </span>
                        </li>
                    </ng-template>
                </ul>
            </li>
        </ng-template>
    </ul>
</div>
