import { enableProdMode } from '@angular/core';
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';

import { <%= classify(name) %>AppModule } from './app/<%= name %>-app.module';
import { environment } from './environments/environment';

if (environment.production) {
    enableProdMode();
}

platformBrowserDynamic()
    .bootstrapModule(<%= classify(name) %>AppModule)
    .catch((err) => console.error(err));
