import { Injectable } from '@angular/core';
import { RoleFormConfigFactory } from '@zsport/domain/role';

@Injectable()
export class <%= classify(name) %>RoleFormConfigFactoryImpl extends RoleFormConfigFactory {}
